:root {
    --primary-font: "Roboto", sans-serif;
    --secodary-font: "Raleway", sans-serif;
    --main-text-color: #434455;
    --basic-white-color: #ffffff;
    --secondary-white-color: #F4F4FD;
    --logo-color: #4D5AE5;
    --hover-color: #404BBF;
    --primary-black-color: #2E2F42;
    --border-color: #E7E9FC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: var(--primary-font);
    color: var(--main-text-color);
    background-color: var(--basic-white-color);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**------------ HEADER-------------- */

.header {
    padding: 24px 0;
    border-bottom: 1px solid var(--border-color);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
}

.header-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: var(--secodary-font);
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo span {
    color: var(--primary-black-color);
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--hover-color);
    padding: 24px 0;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-link {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--hover-color);
}

.header-address-list {
    display: flex;
    gap: 40px;
}

/**------------ HERO-------------- */

.hero {
    background-color: var(--primary-black-color);
    height: 600px;
    padding: 188px 0;
}

.hero-title {
    color: var(--basic-white-color);
    text-align: center;
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    display: flex;
    margin: 0 auto;
}

.hero-btn {
    color: var(--basic-white-color);
    font-size: 16px;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--logo-color);
    cursor: pointer;
    min-width: 169px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color);
}

/**------------ FEATURE-------------- */
.feature-section {
    padding: 120px 0;
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-subtitle {
    color: var(--primary-black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feature-item {
    width: calc((100% - 3 * 24px) / 4);
}

.feature-item-text {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**------------ PRODUCT-------------- */
.product-section {
    padding-bottom: 120px;
}

.product-title {
    color: var(--primary-black-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.product-list {
    display: flex;
    gap: 24px;
}

.product-item {
    width: calc((100% - 2 * 24px) / 3);
}

/**------------ TEAM-------------- */

.team-section {
    background-color: var(--secondary-white-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: var(--primary-black-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--basic-white-color);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-item-card {
    padding: 32px 16px;
}

.team-subtitle {
    color: var(--primary-black-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item-text {
    color: var(--main-text-color);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**------------ FOOTER-------------- */

.footer {
    background-color: var(--primary-black-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: var(--secodary-font);
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo span {
    color: var(--secondary-white-color);
}

.footer-text {
    color: var(--secondary-white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/**------------ FILTER-------------- */

.filter-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-btn {
    color: var(--logo-color);
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--secondary-white-color);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--basic-white-color);
    background-color: var(--hover-color);
    border: 1px solid transparent;
}

/**------------ PROJECT-------------- */

.project-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-item {
    width: calc((100% - 48px) / 3);
}

.project-item-down {
    padding: 32px 16px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.project-subtitle {
    color: var(--primary-black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.project-item-text {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}